<div class="relative h-screen overflow-hidden bg-white" [ngClass]="{'invert': !darkMode}">

    <div class="fixed inset-y-0 left-0 w-32 bg-black">
        <div class="flex flex-col items-center justify-center h-full">
            <a class="flex justify-center w-full">
                <img class="w-5/6" style="filter: invert(1);" src="./assets/bm_logo_vert_2.png">
            </a>
            <div class="mt-2 text-white text-sm pointer-events-none kanit-regular">
                2024 &copy;
            </div>
        </div>
    </div>

    <div class="fixed inset-y-0 right-0 w-16 bg-black border-l border-white flex flex-col justify-between">
        <div class="pt-2 flex justify-center w-full">
            <a href="#" class="flex justify-center w-full" (click)="toggleDarkMode()">
                <img class="w-1/2 transition-transform" [ngStyle]="{'transform': 'rotate(' + rotation + 'deg)'}" src="./assets/dark-mode.png">
            </a>
        </div>
        <div class="flex flex-col items-center justify-center space-y-8 pb-24">
            <a href="#" class="flex justify-center w-full">
                <img class="w-3/4" style="filter: invert(1);" src="./assets/linkedin.png">
            </a>
            <a href="#" class="flex justify-center w-full">
                <img class="w-2/3" style="filter: invert(1);" src="./assets/github.png">
            </a>
            <a href="#" class="flex justify-center w-full">
                <img class="w-2/3" style="filter: invert(1);" src="./assets/facebook.png">
            </a>
        </div>
    </div>

    <header class="inset-x-0 top-0 z-50 bg-black h-20 xl:h-12" [ngClass]="{'border-b border-white': !darkMode}">
        <div class="flex justify-between items-center h-full px-4 xl:px-16">
            <div class="w-3/5">
                
            </div>
            <div class="w-2/5 text-center">
                <nav class="flex justify-center space-x-4">
                    <a class="text-white xl:text-3xl text-xl kanit-extralight pulsate-hover" href="/">PORTFOLIO</a>
                    <div class="text-white xl:text-3xl text-xl kanit-thin" href="/">|</div>
                    <a class="text-white xl:text-3xl text-xl kanit-extralight pulsate-hover" href="/">BIO</a>
                    <div class="text-white xl:text-3xl text-xl kanit-thin" href="/">|</div>
                    <a class="text-white xl:text-3xl text-xl kanit-extralight pulsate-hover" href="/">CONTACT</a>
                </nav>
            </div>
        </div>
    </header>  

    <div class="absolute top-0 left-1/10 z-50 pointer-events-none">
        <img src="./assets/headshot-trans.png" class="w-2/3" [ngStyle]="{'filter': darkMode ? 'invert(0)' : 'invert(1)'}" style="overflow: hidden;">
    </div>  
    
    <div class="absolute top-0 left-0 bg-white">

    </div>

</div>