<div class="h-flex xl:border-x-350 xl:border-y-56 md:border-x-100 md:border-y-48 border-x-44 border-y-20">

    <div section="header">
        <div class="md:mt-10 mt-4 flex justify-center">
            <div class="max-w-screen-lg">
                <div class="flex justify-between">
                    <a class="md:text-4xl text-2xl px-4" style="font-family: 'Rubik', sans-serif; text-transform: uppercase; font-weight: 700;">Benjamin</a>
                    <a class="md:text-4xl text-2xl pe-4" style="font-family: 'Rubik', sans-serif; text-transform: uppercase; font-weight: 300;">Mendoza</a>
                </div>
            </div>
        </div>                  
        <div class="flex justify-center" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <div class="max-w-screen-lg">
                <div class="flex justify-between">
                    <a class="md:text-sm text-xs px-4">mail&#64;bendoza.com</a>
                    <a class="md:text-sm text-xs">|</a>
                    <a class="md:text-sm text-xs px-4">352-340-6744</a>
                </div>
                <div class="flex justify-center">
                    <a href="https://linkedin.com/in/bendoza" class="md:text-sm text-xs underline">www.linkedin.com/in/bendoza</a>
                </div>
            </div>
        </div>
    </div>

    <div section="about_me">
        <div class="mt-10 md:ml-12 ml-9 md:mr-12 mr-9 md:text-left text-center" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-base text-sm tracking-tight" style="font-weight: bold;">Full Stack Software Developer</a>
        </div>
        <div class="md:ml-12 ml-9 md:mr-12 mr-9 md:text-left text-center" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <h1>
                <a class="md:text-base text-sm md:mr-9 tracking-wide"> I am a 24 year old Computer Science graduate from the University of Florida, currently pursuing my deep interest of software development. I have experience working in most areas of full stack applications and I am looking to get some more hands-on, professional level experience.</a>
            </h1>
        </div>
    </div>

    <div section="projects">
        <div class="mt-12 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600; text-transform: uppercase;">
            <a class="text-lg tracking-wide" style="color: #9516c6;">Projects</a>
        </div>
        <div class="md:mt-4 mt-2 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
            <a href="https://www.pnsiga.com" class="md:text-base hovski text-sm underline">Polyhedral Net Spline Isogeometric Analysis (PnSIGA) Web Application</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Collaborated with a team to expand upon prior Polyhedral Net Spline Isogeometric Analysis code and build a web application for our updated version.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Utilized Angular and TailwindCSS for the front end, providing a responsive and visually appealing user interface.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Integrated Firebase Authentication for secure user logins, ensuring verified access.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Implemented an email feature for user communication, allowing users to contact developers or admins for access, support, and other inquiries.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Developed a back end server using Node.js, incorporating cross-compiled C++ code (via emscripten) for complex mathematical computations and analysis.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Hosted the application using Google Cloud Platform services, ensuring scalability and reliability.</a>
        </div>
        <div class="md:mt-4 mt-2 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
            <a href="https://www.paradisedistributors.com" class="md:text-base hovski text-sm underline">Paradise Craft Distributors Website</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Developed a comprehensive landing page for Paradise Distributors to enhance their online presence and streamline their sales process.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Implemented a robust back end using Go to manage product inventory and provide inquiry submitting capabilities.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Utilized Angular and TailwindCSS for the front end, achieving a responsive and visually appealing design.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Deployed the website on Google Cloud services, ensuring high availability and scalability to handle increasing traffic and sales volume.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Incorporated SEO best practices to improve search engine rankings and drive organic traffic to the site.</a>
        </div>
        <div class="md:mt-4 mt-2 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
            <a href="https://www.workforbrms.com" class="md:text-base hovski text-sm underline">BRMS Hiring Web Application</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Developed a web application for BRMS to streamline their hiring process, enhancing both efficiency and user experience.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Implemented functionality for site owners to update information directly from a local spreadsheet, facilitating real-time data management.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Integrated a secure login system for site owners to review job applications and track applicant progress.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Enabled automatic email notifications for site owners upon receiving new job applications or accommodation requests, ensuring timely response.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Designed a user-friendly interface for job applicants, allowing them to submit detailed personal and professional information.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Incorporated Google ReCaptcha in the application process to prevent bot spamming and ensure the authenticity of applicants.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Front end developed using Angular and TailwindCSS, and back end powered by Go using Gorilla packages and Firestore Database.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Ensured secure and efficient hosting using Google Cloud services.</a>
        </div>
        <div class="md:mt-4 mt-2 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
            <a href="https://www.bomdrinks.com" class="md:text-base hovski text-sm underline">Bourbon on Main Inventory/Drink List</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Developed a dynamic inventory and drink list application for a Bourbon bar to efficiently manage and display their extensive bourbon selection.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Engineered the front end using Angular, TailwindCSS, and Angular Material, complemented by a Go-powered back end.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Utilized Google Sheets with its API as an innovative pseudo-database solution, enabling easy edits and real-time updates by staff via mobile devices.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Achieved a milestone in production-level application development, deploying both front end and back end on Google Cloud services (Cloud Storage Bucket and App Engine).
            </a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Implemented a continuous integration pipeline for the front end using GitHub Actions, enhancing development workflow and keeping sensitive data (API keys and Spreadsheet IDs) secure.</a>
        </div>
        <div class="md:mt-4 mt-2 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
            <a class="md:text-base text-sm">Personal Resume (Current Website)</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Designed and coded a personal landing page to professionally showcase my resume.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Employed vanilla HTML and Tailwind CSS for a clean, responsive design.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Independently managed domain acquisition and leveraged GitHub Pages for reliable hosting, demonstrating end-to-end website deployment skills.</a>
        </div>
        <div class="md:mt-4 mt-2 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
            <a class="md:text-base text-sm">Vacation Planner</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Led the back end development in a four-student team project, focusing on creating a comprehensive vacation planning web application.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Specialized in Go and PostgreSQL for back end development, establishing robust data handling and storage capabilities.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Contributed to the Angular (Typescript) front end development, ensuring seamless integration and functionality.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">The application offered users curated travel information and personalized vacation management, utilizing Yelp's Fusion API for enriched content and user experience.</a>
        </div>
        <div class="md:mt-4 mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
            <a href="https://github.com/bendoza/WhatIf" class="md:text-base hovski text-sm underline">WhatIf: Prior Investment Analysis</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Solely responsible for back end development in a two-student team, aimed at creating a web application for historical cryptocurrency analysis.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Expertly handled back end functionality using Go and an Oracle SQL database, ensuring efficient data processing and management.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Supported React (Typescript) front end development, aiding in creating an interactive user interface.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Designed the application to allow users to analyze past cryptocurrency investments, featuring a dataset of over half a million values for comprehensive analysis.</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Enabled users to simulate investment scenarios with various cryptocurrencies and date ranges, delivering insightful and potentially valuable investment statistics.</a>
        </div>
    </div>

    <div section="skills">
        <div class="mt-12 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600; text-transform: uppercase;">
            <a class="text-lg tracking-wide" style="color: #9516c6;">Skills</a>
        </div>
        <div class="md:mt-4 mt-2 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
            <a class="md:text-base text-sm">Programming Languages:</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">Go, C++, Type/Javascript, Java, Python, SQL</a>
        </div>
        <div class="md:mt-4 mt-2 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
            <a class="md:text-base text-sm">Web Development:</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a class="md:text-base text-sm">HTML, Type/Javascript, Angular, React, Tailwind, SQL Databases</a>
        </div>
        <div class="md:mt-4 mt-2 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
            <a class="md:text-base text-sm">Tools:</a>
        </div>
        <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-2xl text-xl mr-4">•</a>
            <a href="https://github.com/bendoza" class="md:text-base hovski text-sm underline">Github</a><span class="md:text-base text-sm">, Visual Studio Code, Postman, Oracle, Docker</span>
        </div>
    </div>

    <div section="education">
        <div class="mt-12 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600; text-transform: uppercase;">
            <a class="text-lg tracking-wide" style="color: #9516c6;">Education</a>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-2">
            <div class="md:mt-8 mt-4 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
                <a class="md:text-lg text-base">University of Florida Online</a>
            </div>
            <div class="md:mt-8 mt-4 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
                <a class="md:text-base text-sm">Computer Science Major</a>
            </div>
            <div class="md:ml-12 ml-9 mr-9 mb-4" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-sm text-xs">Jan 2022 - May 2024</a>
            </div>
            <div class="md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-lg text-base mr-2">•</a>
                <a class="md:text-base text-sm">Data Structures and Algorithms</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Object-Oriented Programming</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Information and Database Systems</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Technical Communication for Engineers</a>
            </div>
            <div class="md:mt-16 mt-8 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
                <a class="md:text-lg text-base">University of South Florida</a>
            </div>
            <div class="md:mt-16 mt-4 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
                <a class="md:text-base text-sm">Associate of Arts Degree</a>
            </div>
            <div class="md:ml-12 ml-9 mr-9 mb-4" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-sm text-xs">Aug 2020 - Dec 2021</a>
            </div>
            <div class="md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">General Education Courses</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Added on to 4+ Years of Learning Spanish</a>
            </div>
        </div>
    </div>

    <div section="job_history">
        <div class="mt-12 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600; text-transform: uppercase;">
            <a class="text-lg tracking-wide" style="color: #9516c6;">Job History</a>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-2">
            <div class="md:mt-8 mt-4 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
                <a class="md:text-lg text-base">Bourbon on Main</a>
            </div>
            <div class="md:mt-8 mt-4 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
                <a class="md:text-base text-sm">Bartender</a>
            </div>
            <div class="md:ml-12 ml-9 mr-9 mb-4" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-sm text-xs">Aug 2019 - Current</a>
            </div>
            <div class="md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-lg text-base mr-2">•</a>
                <a class="md:text-base text-sm">Managed a team of subordinates and oversaw day-to-day operations of the bar.</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Demonstrated strong leadership skills by training and supervising new hires.</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Provided high-quality customer service and resolved issues as the manager on duty in a professional and timely manner.</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Gained multi-tasking experience, communication experience, and experience working under high pressure.</a>
            </div>
            <div class="mt-8 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
                <a class="md:text-lg text-base">Gators Den Sports Grill</a>
            </div>
            <div class="md:mt-8 mt-4 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
                <a class="md:text-base text-sm mr-2">Restaurant and Catering Waiter</a>
            </div>
            <div class="md:ml-12 ml-9 mr-9 mb-4" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-sm text-xs">Jun 2018 - Jun 2019</a>
            </div>
            <div class="md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-lg text-base mr-2">•</a>
                <a class="md:text-base text-sm">Provided high-quality food and beverage service to customers in a fast-paced environment.</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Demonstrated strong communication and multitasking skills while handling multiple tables at once.</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Worked closely with kitchen staff to ensure accurate and timely delivery of orders.</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Received positive customer feedback and consistently met performance goals.</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Gained communication and customer service experience.</a>
            </div>
            <div class="md:mt-8 mt-4 md:ml-12 ml-9 mr-2" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
                <a class="md:text-lg text-base">Gainesville Health and Fitness</a>
            </div>
            <div class="md:mt-8 mt-4 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600;">
                <a class="md:text-base text-sm">Shift Supervisor</a>
            </div>
            <div class="md:ml-12 ml-9 mr-9 mb-4" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-sm text-xs">Jun 2016 - May 2018</a>
            </div>
            <div class="md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-lg text-base mr-2">•</a>
                <a class="md:text-base text-sm">Managed and provided guidance and training to a team of subordinates.</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Handled customer complaints and resolved issues in a professional and timely manner.</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Worked closely with other supervisors to ensure smooth operations of the gym.</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Trained up to three new hires within different departments per week on gym policies and procedures.</a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-base md:text-white text-sm"> </a>
            </div>
            <div class="mt-2 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
                <a class="md:text-xl text-lg mr-2">•</a>
                <a class="md:text-base text-sm">Gained managerial/leadership experience and training experience.</a>
            </div>
        </div>
    </div>

    <div section="interests">
        <div class="mt-12 md:ml-12 ml-9" style="font-family: 'Rubik', sans-serif; font-weight: 600; text-transform: uppercase;">
            <a class="text-lg tracking-wide" style="color: #9516c6;">Interests</a>
        </div>
        <div class="mt-4 mb-8 md:ml-12 ml-9 mr-9" style="font-family: 'Rubik', sans-serif; font-weight: 400;">
            <a class="md:text-base text-sm">Recently, I have been highly engaged in the world of software development/engineering. However, I have always been passionate about staying active, continuously improving myself, and traveling. Most importantly, I thoroughly enjoy spending time with the people who are dear to me, such as my childhood friends and my wonderful girlfriend, Asia.</a>
        </div>
    </div>

</div>